@font-face {
  font-family: "Levi Adobe Dia";
  src: url("fonts/Adobe Dia.ttf") format("ttf");
}

html {
  font-family: Levi Adobe Dia;
  background-color: #333333;
  /* background-color: blue; */
  color: #ffb31c;
}

body {
  margin: 0;
}


#text-container {
  position: absolute;
  height: 100%;
  width: 60%;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}
#tensor-container {
  position: absolute;
  width: 20%;
  top: 75%;
  left: 5%;
}
#video-container {
  position: absolute;
  width: 320px;
  height: 240px;
  right: 5%;
  top: 70%;
  transform: translate(0, -50%);
}
#question-container {
  position: absolute;
  width: 320px;
  height: 240px;
  right: 5%;
  top: 20%;
  transform: translate(0, -50%);
}

#sentenceText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 24pt;
}
#sentenceSentimentTitle {
  /* position: absolute;
  top: 10%; */
  font-size: 20pt;
}
#sentenceSentiment {
  font-size: 20pt;
}


#question {
  font-size: 36pt;
  font-weight: bold;
  display: none;
}
#timerDigit {
  font-size: 28pt;
  display: none;
}


#result-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;

  display: none;
}

#finalScoreText {
  font-size: 55pt;
}

#message {
  font-size: 55pt;
}
.longMessage {
  font-size: 32pt;
}

.btn {
  background-color: #ffb31c;
  /* background-color: blue; */
  color: #333333;
  font-size: 36pt;
  font-family: Levi Adobe Dia;
  width: 100px;
}
.btn:hover {
  cursor: pointer;
}

#conclusion-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  display: none;
}
#conclusion1-container {
  font-size: 28pt;
  height: 40%;
  overflow-y  : scroll;
}
#conclusion2-container {
  height: 60%;
}
#finallyBtn:hover {
  cursor: pointer;
}
